{
	margin: 0px;
	padding: 0px;
}
body{
	background-image: url("../IMAGENS/10.jpg");
	background-position: 50% 90%;
	color: white;
	font-family: arial;
	/*insere a imagem de fundo*/
}
input{
	display: block;
	height: 55px;
	width: 400px;
	margin: 10px;
	border-radius: 30px;
	border: 1px solid black;
	font-size: 16pt;
	padding: 8px 10px;
	background-color: rgba(255,255,255,0.01);
	color: white;
	outline: none;
	/*Após colocar o padding o botão fica menor*/
}

div#corpo-form{
	/*background-color: red;*/
	width: 420px;
	margin: 130px auto 0px auto;
}

div#corpo-form-Cad{
	/*background-color: red;*/
	width: 420px;
	margin: 80px auto 0px auto;
}


/*formatar e centralizar o ENTRAR */
div#corpo-form h1,div  h1 {
	text-align: center;
	padding: 20px;
}
/*formatar o link e  tirar o underline */
a{
	color: white;
	text-decoration: none;
	text-align: center;
	display: block;
}
/*fazer o underline aparecer no mouseover*/
a:hover{
	text-decoration: underline;
}
input[type=submit]{
	background-color: #FF0066;
	border: none;
	cursor: pointer;/*muda o cursor no botão*/
